/*
* GLOBAL STYLES
*/
        body {
            font-family: Arial, sans-serif;
            margin-top: 10px;
            padding: 0;
            background-color: #ededed; 
            display: flex;
            justify-content: center;
            align-items: flex-end;
            min-height: 100vh;
			max-width: 100%;
        }
		
		p, h2 {
			padding: 1px;
			margin: 0px;
			letter-spacing: 0px;
		}

        .ticket-container {
            width: 100%;
			height:98%;
            max-width: 100%;
			max-height: 950px;
            background-color: white;
            padding: 0px 5px 10px 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            position: absolute;
            border-radius: 30px 30px 0px 0px;
            overflow: hidden;
        }

        /*
         * HEADER SECTION
         */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 1px 1px 15px;
        }

        .close-button {
            font-size: 30px;
            font-weight: 100;
            color: #666;
            cursor: pointer;
            line-height: 1;
            padding: 10px 10px 0px 0px;
			text-align: right;
			float:right;
        }

        .instruction {
            font-size: 16px;
			margin-top: 20px;
            color: #555;
            flex-grow: 1;
            text-align: left;
			letter-spacing: 0.5px;
        }

        /*
         * LOGO AND PULSATING RING
         */
        .logo-area {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; 
            width: 220px; 
            height: 220px;
            margin: 20px auto 40px auto; /* Center the container */
        }

        /* The element that pulses and fades */
        .pulsing-ring {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 5px solid rgba(91, 191, 65, 0.9); /* Semi-transparent green border */
            box-sizing: border-box;
			transform: translate(-50%,-50%);
			animation: pulse 2.4s infinite linear;
		}
        /* The fixed solid green circle */
        .outer-circle {
            width: 155px;
            height: 155px;
            border-radius: 50%;
            /*background-color: #499134; */
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; 
			animation-name: myAnimation;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
            z-index: 2; /* Ensures the logo stays on top */

        }

        .inner-circle {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid #fff;
        }

		@keyframes myAnimation {
			0%   {background-color: #50B54C;}
			25%  {background-color: #40943D;}
			50%  {background-color: #32742F;}
			100% {background-color: #499134;}
		}
        .star-tran-logo {
            font-size: 24px;
            font-weight: bold;
            color: #000;
            text-align: center;
            line-height: 1.2;
        }
		
		.round-image {
			width: 120px;  /* Set a specific width */
			height: 120px; /* Set the same height to ensure it's a square */
			border-radius: 50%; /* Makes the square image a perfect circle */
			object-fit: cover; /* Ensures the image covers the area without stretching */
		}

        /* Keyframes for the Ring Pulse (Expands and fades) */
        @keyframes pulse {
            0% {
                transform: scale(1);
                opacity: 1;
                border-width: 55px;
            }
			25% {
                transform: scale(0.8);
				opacity: 1;
                border-width: 55px;
			}
            35% {
                transform: scale(0.6);
				opacity: 1;
                border-width: 55px;
			}
            50% {
                transform: scale(0.8);
				opacity: 1;
                border-width: 55px;
			}
            65% {
                transform: scale(1);
				opacity: 1;
                border-width: 55px;
			}
			75% {
                transform: scale(0.8);
				opacity: 1;
                border-width: 55px;
			}
            100% {
                transform: scale(1);
                opacity: 1;
                border-width: 55px;
            }
        }

        /*
         * TICKET CONTENT
         */
		.clock {
			display:block;
			text-align:center;
			font-size:58px;
			font-weight:700;
			color: #3D3D3D;
			letter-spacing:0.5px;
			margin:12px 0 5px;
		}

        .low-income-tag {
            background-color: black;
            color: white;
            font-size: 48px;
            font-weight: 100;
            padding: 5px 10px;
            border-radius: 28px;
            display: inline-block;
            margin-bottom: 10px;
			width:88%;
        }

        @keyframes flash-text {
            from { opacity: 1; }
            to { opacity: 0.8; }
        }
		.card {
			background:#fff;
			border-radius:6px;
			padding:18px;
			box-shadow: 0 1px 1px rgba(0,0,0,.8);
			border:1px solid rgba(0,0,0,.05);
			margin:15px 20px 0px 20px;
			text-align: left;
			
		}

        .ticket-details {
            font-size: 24px;
            font-weight: 200;
            color: #333;
        }

        .location {
            font-size: 14px;
            color: #777;
            margin-bottom: 40px;
        }

        .expiration {
            font-size: 16px;
			font-weight: 600;
            color: #5c5c5c;
        }
